@charset "UTF-8";
/* CSS Document */
/* @font-face {
  font-family: 'HugeFont';
  src: url('assets/huge_agb_v5.ttf');}*/

  @font-face {
  font-family: Helvetica, Arial, sans-serif;
}


body{
  font-family: 'HugeFont';
  font-weight: 400;
  text-align: left;
  line-height: 120%;
    background-color: #3D9970;
}

h1{
  font-size: 60px;


}



#myChordLocation {
  
    top: 0px;
    height: 500px;
    padding: 50px

    top: 0px;
    height: 600px;
    padding: 50px;
    position: absolute;
    font-size: 40px;
    line-height: 120%;
    color: white;
    letter-spacing: 0px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 28.4px;
}
  }
